<%= include('includes/top.tmpl') %>

    <div class="main">
    	<a class="promo" target="_top" href="http://www.bbc.co.uk/news/election/2015/manifesto-guide">
    		<div class="promo--logo"></div>
    		<div class="promo--desc">
    			<h4 class="promo--header">Manifesto guide <span class="promo--header__arrow"></span></h4>
    			<div class="promo--text">Where parties stand on key issues this election</div>
    		</div>
    	</a>
    </div>

<%= include('includes/bottom.tmpl') %>